.more_nav_style {
    @apply laptop:absolute laptop:top-[5rem] laptop:left-[4.6rem] laptop:bg-[#282828] 
    laptop:w-[190px] h-[507px] laptop:shadow-2xl
}

.filter_box_btn {
     @apply laptop:absolute laptop:top-[7.9rem] laptop:left-[55rem] laptop:bg-[#282828] 
    laptop:w-[200px] h-[80px] laptop:shadow-2xl;
}


.filter_arrow_btn {
     @apply 
     desktop:ml-[14.8rem]
     laptop:absolute laptop:top-[7.9rem] laptop:left-[55rem] laptop:bg-[#282828] 
    laptop:w-[200px] h-[80px] laptop:shadow-2xl
}
